@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: "Nunito", sans-serif;
    margin: 0;
    background: rgba(199, 227, 115, 0.205);
}

::-ms-reveal {
    display: none
}

